body{
	background-image: url("../img/backgr.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: fixed;

}

#title{
	font-size: 2em;
	font-style: bold;
	text-align: center;
	float: right;
	clear: right;
	margin-right: 1em;
	font-family: 'Indie Flower', cursive;
}




#lis{

	/*float: left;*/
	width: 50%;
	/*margin-left: 2em;*/
}

#ph{
	opacity: 0.1;
}

#im-list{
	width: 70%;
	/*text-align: center;*/
/*	margin-right: auto;
	margin-left: auto;*/
	position: relative;
	/*margin: 1em;
	position: absolute;
	width: 50%;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    self-align: ;
    flex-wrap: wrap; 
    float: left;
    list-style-type:none;*/
 }


#alb1{
	/*margin: 0.5em;
	-webkit-transition: all 1s; */
}

#alb1, #alb2, #alb3, #alb4, #alb5, #alb6{
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	/*margin: 0.5em;*/
	-webkit-transition: all 1s; 
	opacity: 0.6;
	position: absolute;
	margin-top: 40px;
}

#alb1{
	margin-left: 40px;
}

#alb2{
	margin-left: 220px;
}

#alb3{
	margin-left: 400px;
}

#alb4{
	margin-left: 40px;
	margin-top: 220px
}

#alb5{
	margin-left: 220px;
	margin-top: 220px;
}

#alb6{
	margin-left: 400px;
	margin-top: 220px;
}

#img-placeholder{

	margin-left: 600px;
	width: 340px;
	height: 340px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-width: 1px;
	/*float: right;
	margin-right: 2em;*/
	top: 40px;
	/*right: 2em;*/
	position: absolute;
	background-image: url('../img/play.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: fixed;
	opacity: 0.1;
	z-index: 0;
}

#title{
	position: absolute;
	margin-left: 600px;
	margin-top: 400px;
	width: 50%;
}

img{

}

/*img:hover{
	opacity: 0.6;
}*/


/*-----------------------------*/

#audioplayer{
	position: absolute;
	width: 480px;
	height: 60px;
	margin-top: 500px;
	margin-left: 40px;
	border: solid;
	/*clear: both;*/
	visibility: visible;
}

#pButton{
    height:60px; 
    width: 60px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
    float:left;
    outline:none;
}

.play{background: url('../img/play.png') ;}
.pause{background: url('../img/pause.png') ;}

#timeline{
	width: 400px;
	height: 20px;
	margin-top: 20px;
	float: left;
	border-radius: 15px;
	background: rgba(0,0,0,.3);
  
}
#playhead{
	width: 18px;
	height: 18px;
	border-radius: 50%;
	margin-top: 1px;
	background: rgba(0, 0, 0,1);

}

