body{
	background-image: url("../img/backgr.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: fixed;

}

#title{
	font-size: 2em;
	font-style: bold;
	text-align: center;
	float: right;
	clear: right;
	margin-right: 1em;
	font-family: 'Indie Flower', cursive;
}




#lis{

	/*float: left;*/
	width: 50%;
	/*margin-left: 2em;*/
}

#ph{
	opacity: 0.1;
}

#im-list{
	width: 70%;
	/*text-align: center;*/
/*	margin-right: auto;
	margin-left: auto;*/
	position: relative;
	/*margin: 1em;
	position: absolute;
	width: 50%;
	display: flex;
    flex-direction: row;
    justify-content: flex-start;
    self-align: ;
    flex-wrap: wrap; 
    float: left;
    list-style-type:none;*/
 }


#alb1{
	/*margin: 0.5em;
	-webkit-transition: all 1s; */
}

#alb1, #alb2, #alb3, #alb4, #alb5, #alb6{
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	/*margin: 0.5em;*/
	-webkit-transition: all 1s; 
	opacity: 0.6;
	position: absolute;
	margin-top: 40px;
}

#alb1{
	margin-left: 40px;
}

#alb2{
	margin-left: 220px;
}

#alb3{
	margin-left: 400px;
}

#alb4{
	margin-left: 40px;
	margin-top: 220px
}

#alb5{
	margin-left: 220px;
	margin-top: 220px;
}

#alb6{
	margin-left: 400px;
	margin-top: 220px;
}

#img-placeholder{

	margin-left: 600px;
	width: 340px;
	height: 340px;
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
	border-style: solid;
	border-width: 1px;
	/*float: right;
	margin-right: 2em;*/
	top: 40px;
	/*right: 2em;*/
	position: absolute;
	background-image: url('../img/play.png');
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	background-position: fixed;
	opacity: 0.1;
	z-index: 0;
}



#title{
	position: absolute;
	margin-left: 600px;
	margin-top: 390px;
	width: 50%;
}

#things{
	position: absolute;
	margin-top: 440px;
}

#canvas{
	background-color: rgba(0, 0, 0, 0.1);
	box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
	margin-left: 600px;
}

#pan, #volume{
	-webkit-appearance: none;
	width: 400px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 3px;
    background: #ccc;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 30px;
    width: 15px;
    border-radius: 50%;
    background: hsla(200, 20%, 40%, 0.8);
    margin-top: -6px;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: white;
}

#button{
	position: absolute;
	margin-left: 670px;
	margin-top: 110px;
	border-radius: 200px;
	border: none;
	height: 200px;
    width: 200px;
	background-color: rgba(0, 0, 5, 0.2);
	z-index: 2;


}

#button:focus{
	border-radius: 200px;
	border-style: solid;
	border-width: 10px;
	border-color: hsla(200, 20%, 40%, 0.3);
}

#spans{
	font-family: 'Indie Flower', cursive;
	width: 50%;
	margin-top: -50px;
	margin-left: 40px;
}


